VTS/dat/Setup/VTS/Schemas/Microsoft.Build.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://schemas.microsoft.com/developer/msbuild/2003" 
xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:msb="http://schemas.microsoft.com/developer/msbuild/2003"
elementFormDefault="qualified">

    <!-- =================== IMPORT COMMON SCHEMA =========================== -->
    <xs:include schemaLocation="Microsoft.Build.CommonTypes.xsd"/>

    <!-- ========= ADD CUSTOM ITEMS, PROPERTIES, AND TASKS BELOW ======= -->
    <!-- Note that these will be in the msbuild namespace. A future version of
        msbuild may require that custom itemtypes, properties, and tasks be in a 
        custom namespace, but currently msbuild only supports the msbuild namespace. -->
    
    <!-- example custom itemtype with particular meta-data required-->
    <!--<xs:element name="MyItem" substitutionGroup="msb:Item">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:SimpleItemType">
                    <xs:sequence maxOccurs="1">
                        <xs:choice>
                            <xs:element name="MyMetaData" type="xs:string"/>
                        </xs:choice>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>-->
    
    <!-- Example custom itemtype with NO meta-data -->
    <!--<xs:element name="MySimpleItem" type="msb:SimpleItemType" substitutionGroup="msb:Item"/>-->
    <xs:element name="ProductDirItem" type="msb:SimpleItemType" substitutionGroup="msb:Item"/>
        
    <!-- Example custom itemtype with ANY meta-data -->
    <!--<xs:element name="MyFlexibleItem" type="msb:GenericItemType" substitutionGroup="msb:Item"/>-->

    <!-- example custom property that allows string content only-->
    <!--<xs:element name="MySimpleProperty" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>-->
    <xs:element name="ProductBinDir" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="ProductDir" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="MSBuildDir" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="UserInputDir" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="UserInputPropertiesFile" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>  
    <xs:element name="UserInputFileName" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>  
    <xs:element name="Quotes" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="WhiteSpace" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="ExternalTaskPath" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="PropertiesFile" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="RegPropertiesFile" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="OsVersion" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="Architecture" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="IISVersion" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="System32Root" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    <xs:element name="MachineType" type="msb:StringPropertyType" substitutionGroup="msb:Property"/>
    
    <!-- example custom task with single required parameter-->
    <!--<xs:element name="MyTask" substitutionGroup="msb:Task">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:TaskType">
                    <xs:attribute name="MyParameter" type="xs:boolean" use="required"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>-->
    
    <xs:element name="PCGetAppSettingsValueTask" substitutionGroup="msb:Task">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:TaskType">
                    <xs:attribute name="MachineType" type="xs:string" use="required"/>
                    <xs:attribute name="Key" type="xs:string" use="required"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="PCSetAppSettingsValueTask" substitutionGroup="msb:Task">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:TaskType">
                    <xs:attribute name="MachineType" type="xs:string" use="required"/>
                    <xs:attribute name="Key" type="xs:string" use="required"/>
                    <xs:attribute name="Value" type="xs:string" use="required"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AddPrivilegesToUserTask" substitutionGroup="msb:Task">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:TaskType">
                    <xs:attribute name="UserName" type="xs:string" use="required"/>
                    <xs:attribute name="Privilege" type="xs:string" use="required"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AssignUserToGroupTask" substitutionGroup="msb:Task">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:TaskType">
                    <xs:attribute name="UserName" type="xs:string" use="required"/>
                    <xs:attribute name="GroupName" type="xs:string" use="required"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element> 
    <xs:element name="CreateUserAccountTask" substitutionGroup="msb:Task">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:TaskType">
                    <xs:attribute name="UserName" type="xs:string" use="required"/>
                    <xs:attribute name="Password" type="xs:string" use="required"/>
                    <xs:attribute name="Description" type="xs:string"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element> 
    <xs:element name="SetEnvVariableTask" substitutionGroup="msb:Task">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:TaskType">
                    <xs:attribute name="VarAction" type="xs:string" use="required"/>
                    <xs:attribute name="VariableName" type="xs:string" use="required"/>
                    <xs:attribute name="VariableValue" type="xs:string"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element> 
    <xs:element name="InsertEnvVariableFromRegistryEntryTask" substitutionGroup="msb:Task">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:TaskType">
                    <xs:attribute name="KeyName" type="xs:string" use="required"/>
                    <xs:attribute name="ValueName" type="xs:string" use="required"/>
                    <xs:attribute name="EnvVariable" type="xs:string"  use="required"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>     
    <xs:element name="FindAndReplaceTask" substitutionGroup="msb:Task">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:TaskType">
                    <xs:attribute name="FileName" type="xs:string" use="required"/>
                    <xs:attribute name="SourceDir" type="xs:string" use="required"/>
                    <xs:attribute name="FindString" type="xs:string" use="required"/>
                    <xs:attribute name="ReplaceWith" type="xs:string" use="required"/>                    
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element> 
    <xs:element name="MSBuildPropertyUpdateTask" substitutionGroup="msb:Task">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:TaskType">
                    <xs:attribute name="FullFilePath" type="xs:string" use="required"/>
                    <xs:attribute name="PropertyName" type="xs:string" use="required"/>
                    <xs:attribute name="Value" type="xs:string" use="required"/>                 
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="IIS6CreatePoolTask" substitutionGroup="msb:Task">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:TaskType">
                    <xs:attribute name="Name" type="xs:string" use="required"/>
                    <xs:attribute name="IdentityType" type="xs:string" use="required"/>
                    <xs:attribute name="WAMUserName" type="xs:string" use="required"/>
                    <xs:attribute name="WAMPassword" type="xs:string" use="required"/>                    
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>        
    <xs:element name="IIS6CreateVirtualDirTask" substitutionGroup="msb:Task">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:TaskType">
                    <xs:attribute name="Name" type="xs:string" use="required"/>
                    <xs:attribute name="VirtualDirPath" type="xs:string" use="required"/>
                    <xs:attribute name="IsApplication" type="xs:string"/>
                    <xs:attribute name="Parent" type="xs:string"/>
                    <xs:attribute name="FriendlyName" type="xs:string"/>
                    <xs:attribute name="DefaultDocuments" type="xs:string"/>
                    <xs:attribute name="BasicAuth" type="xs:string"/>
                    <xs:attribute name="WindowsAuth" type="xs:string"/>
                    <xs:attribute name="AnonymousAuth" type="xs:string"/>
                    <xs:attribute name="AnonymousUserName" type="xs:string"/>
                    <xs:attribute name="AnonymousUserPassword" type="xs:string"/>
                    <xs:attribute name="AccessRead" type="xs:string"/>
                    <xs:attribute name="AccessWrite" type="xs:string"/>
                    <xs:attribute name="AccessScriptSource" type="xs:string"/>
                    <xs:attribute name="AccessScriptAndExecutables" type="xs:string"/>
                    <xs:attribute name="AccessScripts" type="xs:string"/>
                    <xs:attribute name="EnableParentPaths" type="xs:string"/>
                    <xs:attribute name="PoolId" type="xs:string"/>                    
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="IIS7CreatePoolTask" substitutionGroup="msb:Task">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:TaskType">
                    <xs:attribute name="Name" type="xs:string" use="required"/>
                    <xs:attribute name="IdentityType" type="xs:string" use="required"/>
                    <xs:attribute name="WAMUserName" type="xs:string" use="required"/>
                    <xs:attribute name="WAMPassword" type="xs:string" use="required"/>                    
                    <xs:attribute name="PipelineMode" type="xs:string"/>                    
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>        
    <xs:element name="IIS7CreateVirtualDirTask" substitutionGroup="msb:Task">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:TaskType">
                    <xs:attribute name="Name" type="xs:string" use="required"/>
                    <xs:attribute name="VirtualDirPath" type="xs:string" use="required"/>
                    <xs:attribute name="IsApplication" type="xs:string"/>
                    <xs:attribute name="Parent" type="xs:string"/>
                    <xs:attribute name="DefaultDocuments" type="xs:string"/>
                    <xs:attribute name="BasicAuth" type="xs:string"/>
                    <xs:attribute name="WindowsAuth" type="xs:string"/>
                    <xs:attribute name="DigestAuth" type="xs:string"/>
                    <xs:attribute name="AnonymousAuth" type="xs:string"/>
                    <xs:attribute name="AnonymousUserName" type="xs:string"/>
                    <xs:attribute name="AnonymousUserPassword" type="xs:string"/>
                    <xs:attribute name="AccessRead" type="xs:string"/>
                    <xs:attribute name="AccessWrite" type="xs:string"/>
                    <xs:attribute name="AccessScriptSource" type="xs:string"/>
                    <xs:attribute name="AccessScriptAndExecutables" type="xs:string"/>
                    <xs:attribute name="AccessScripts" type="xs:string"/>
                    <xs:attribute name="EnableParentPaths" type="xs:string"/>
                    <xs:attribute name="PoolId" type="xs:string"/>                    
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="InsertRegistryKeyTask" substitutionGroup="msb:Task">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:TaskType">
                    <xs:attribute name="KeyName" type="xs:string" use="required"/>
                    <xs:attribute name="ValueName" type="xs:string" use="required"/>
                    <xs:attribute name="Value" type="xs:string" use="required"/>                    
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="DecryptTask" substitutionGroup="msb:Task">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:TaskType">
                    <xs:attribute name="Text" type="xs:string" use="required"/>
                    <xs:attribute name="CryptoKey" type="xs:string" use="required"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="EncryptTask" substitutionGroup="msb:Task">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:TaskType">
                    <xs:attribute name="Text" type="xs:string" use="required"/>
                    <xs:attribute name="CryptoKey" type="xs:string" use="required"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="DecryptDataFixedKeyTask" substitutionGroup="msb:Task">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:TaskType">
                    <xs:attribute name="Text" type="xs:string" use="required"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="EncryptDataFixedKeyTask" substitutionGroup="msb:Task">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:TaskType">
                    <xs:attribute name="Text" type="xs:string" use="required"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="PCGetUserPasswordConfigTask" substitutionGroup="msb:Task">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:TaskType">
                    <xs:attribute name="MachineType" type="xs:string" use="required"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>    
    <xs:element name="PCSetUserPasswordConfigTask" substitutionGroup="msb:Task">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:TaskType">
                    <xs:attribute name="User" type="xs:string" use="required"/>
                    <xs:attribute name="Password" type="xs:string" use="required"/>
                    <xs:attribute name="MachineType" type="xs:string" use="required"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="DeleteRegistryKeyTask" substitutionGroup="msb:Task">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:TaskType">
                    <xs:attribute name="KeyName" type="xs:string" use="required"/>
                    <xs:attribute name="RootKey" type="xs:string"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="DeleteRegistryValueTask" substitutionGroup="msb:Task">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:TaskType">
                    <xs:attribute name="KeyName" type="xs:string" use="required"/>
                    <xs:attribute name="ValueName" type="xs:string" use="required"/>
                    <xs:attribute name="RootKey" type="xs:string"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="DeleteEnvVariableTask" substitutionGroup="msb:Task">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:TaskType">
                    <xs:attribute name="VariableName" type="xs:string" use="required"/>                    
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="DeleteUserAccountTask" substitutionGroup="msb:Task">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:TaskType">
                    <xs:attribute name="UserName" type="xs:string" use="required"/>                    
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="PCServerGuidConfigTask" substitutionGroup="msb:Task">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:TaskType">                  
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="IIS6DeletePoolTask" substitutionGroup="msb:Task">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:TaskType">
                    <xs:attribute name="Name" type="xs:string" use="required"/>                    
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="IIS6DeleteVirtualDirTask" substitutionGroup="msb:Task">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:TaskType">
                    <xs:attribute name="Name" type="xs:string" use="required"/>                    
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="IIS7DeletePoolTask" substitutionGroup="msb:Task">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:TaskType">
                    <xs:attribute name="Name" type="xs:string" use="required"/>                    
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="IIS7DeleteVirtualDirTask" substitutionGroup="msb:Task">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="msb:TaskType">
                    <xs:attribute name="Name" type="xs:string" use="required"/>                    
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
        
        
        
</xs:schema>
